<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Corpo incrível após os 40</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="menu-principal">

        <a href="#sobre" class="link-inicio">Inicio</a>

        <div class="links-direita">
        <a href="#Beneficios">Beneficios<span></span></a>
        <a href="#depoimentos">Depoimentos<span></span></a>
        <a href="#compre">Contato<span></span></a>
        </div>
       </nav>
    </header>
    <main>
        <section id="#sobre">
        <div id="main-sobre">
            <div id="main-txt">
    <h2>CORPO INCRÍVEL</h2> 
    <h2 class="titulo-linha-2">APÓS OS 40</h2><h3>O guia essencial para a mulher madura que transforma com saúde e força</h3>
</div>
            <div id="main-img">
                <img src="../img/dani1.jpg" alt="Foto corpo">
            </div>
        </div>
        </section>
          <section id="Beneficios">
            <div id="card">
            <div class="main-card">
                <img src="../img/trofeu.png" alt="">
                <h2>DESAFIO SUPERADO</h2>
                <h3>Você não está sozinha nessa jornada. Se o cansaço, o inchaço e a gordura abdominal pós-40 parecem um desafio intransponível, o Plano 4.0 é a sua vitória. Supere as "regras do jogo metabólico" com um método que respeita seu corpo e celebra cada conquista. Sua transformação começa agora!</h3>
            </div>
             <div class="main-card">
                <img src="../img/coracao.png" alt="">
                <h2>SAÚDE E VITALIDADE</h2>
                <h3>Desperte a vitalidade que está adormecida em você. Com o Plano 4.0, você vai desinchar a partir dos primeiros dias, ativar seu metabolismo e nutrir seu corpo com alimentos que curam. Sinta a diferença em sua energia, disposição e no fim da gordura teimosa, para uma vida plena após os 40.</h3>
            </div>
             <div class="main-card">
                <img src="../img/transformar.png" alt="">
                <h2>TRANSFORME-SE</h2>
                <h3>Chega de lutar contra o seu corpo! Descubra a ciência hormonal que desliga o modo de armazenamento de gordura. O Plano 4.0 não é uma dieta, é um método inteligente de 21 dias para você recuperar sua energia, desinflamar e conquistar a leveza que merece.</h3>
            </div>
        </div>
            
        </section>

        <section id="depoimentos">
           <div class="dep-div">
                <div class="depoimentos-div">
                    <img src="/src/img/dep1.jpg">
                    <h2>Cristina Viana</h2>
                    <h3>Meu depoimentos. 
Depois do ebook descobri tantas coisas, e eu achava que sabia de tudo, mas fazer o meu metabolismo trabalhar a meu favor fez toda diferença. Neste conteúdo encontrei tantas coisas que nem imagina que fariam tanta diferença. Recomendo muito. 
Fiquei linda maravilhosa poderosa e me sinto com 20 anos de novo kko</h3>
                </div>
                <div class="depoimentos-div">
                    <img src="../img/dep2.jpg">
                    <h2>Raimunda Silva</h2>
                    <h3>Este e-book foi um alívio! Ele reconhece as nossas lutas diárias – o estresse, a falta de tempo e a mudança hormonal – e oferece soluções que funcionam para uma mulher madura. Não é só sobre perder peso; é sobre recuperar a vitalidade e a confiança. Senti que fui vista. As dicas são práticas e realmente ajudaram a quebrar a barreira da dificuldade de emagrecer</h3>
                </div>
                <div class="depoimentos-div">
                    <img src="../img/dep3.jpg">
                    <h2>Viviane Martins</h2>
                    <h3>A melhor fase da vida é quando a gente para de lutar contra nosso corpo e começa entende-lo. Este e-book foi um divisor de águas para eu compreender que o meu processo havia mudado.</h3>
                </div>
            </div>

            <div id="hotmark">
                <a href="https://hotmart.com/pt-br/marketplace/produtos/reative-o-seu-metabolismo-em-7-dias-a-estrategia-anti-inflamatoria-e-hormonal-para-derreter-a-gordura-visceral-sem-dietas-restritivas/R102713381X" target="_blank" class="botao-link"> QUERO MEU E-BOOK AGORA!
</a>
            </div>
        </section>
        <section id="compre">
            <div class="contatos">
            <a href="https://www.instagram.com/metabolismo.dietainteligente?igsh=MXVtNW96YzQ4azBxYw==" target="_blank">
                <img src="../img/insta.png">
            </a>
            <a href="https://wa.me/qr/2WLBS43FN7BKH1" target="_blank">
                <img src="../img/zap.png">
            </a>
            <a href="daniellemdsouza84@gmail.com" target="_blank">
                <img src="../img/gmail.png">
            </a>
            </div>

        </section>

    
    </main>
    <footer>
        <div id="footer-div">
            <p>© 2025 Danielle Martins de Souza. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</body>
</html>