<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>exemplo</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="menu-principal">

        <a href="#sobre" class="link-inicio">Inicio</a>

        <div class="links-direita">
        <a href="#Beneficios">Beneficios<span></span></a>
        <a href="#depoimentos">Depoimentos<span></span></a>
        <a href="#compre">Contato<span></span></a>
        </div>
       </nav>
    </header>
    <main>
        <section id="#sobre">
        <div id="main-sobre">
            <div id="main-txt">
                <h2>CORPO INCRÍVEL <br> APÓS OS 40</h2>
                <h3>O guia essencial para a mulher madura<br> que transforma com saúde e força</h3>
            </div>
            <div id="main-img">
                <img src="../img/FOTO1.jpg" alt="Foto corpo">
            </div>
        </div>
        </section>
          <section id="Beneficios">
            <div id="card">
            <div class="main-card">
                <img src="" alt="">
                <h2>DESAFIO SUPERADO</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum iste quis praesentium assumenda fugit autem aliquam eaque veniam odio impedit repellendus placeat velit, delectus alias eveniet est eos cupiditate.</h3>
            </div>
             <div class="main-card">
                <img src="" alt="">
                <h2>SAÚDE E VITALIDADE</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ab officiis officia aut? Eos quae facilis nam quas, unde cumque fugit recusandae earum minus voluptates, facere, saepe tempora ut necessitatibus.</h3>
            </div>
             <div class="main-card">
                <img src="" alt="">
                <h2>TRANSFORME-SE</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illo veritatis distinctio ab necessitatibus ea doloribus incidunt, dignissimos ipsa cupiditate nemo rerum nesciunt fuga minus rem laudantium quibusdam quae ex!</h3>
            </div>
        </div>
            
        </section>

        <section id="depoimentos">
           <div class="dep-div">
                <div class="depoimentos-div">
                    <img src="">
                    <h2>Milleny</h2>
                    <h3>aprovado</h3>
                </div>
                <div class="depoimentos-div">
                    <h2>Milleny</h2>
                    <h3>aprovado</h3>
                </div>
                <div class="depoimentos-div">
                    <h2>Milleny</h2>
                    <h3>aprovado</h3>
                </div>
            </div>

            <div id="hotmark">
                <a href="https://hotmart.com/pt-br/marketplace/produtos/reative-o-seu-metabolismo-em-7-dias-a-estrategia-anti-inflamatoria-e-hormonal-para-derreter-a-gordura-visceral-sem-dietas-restritivas/R102713381X" target="_blank" class="botao-link"> QUERO MEU E-BOOK AGORA!
</a>
            </div>
        </section>
        <section id="compre">
            <div class="contatos">
            <a href="https://www.instagram.com/metabolismo.dietainteligente?igsh=MXVtNW96YzQ4azBxYw==" target="_blank">
                <img src="../img/insta.png">
            </a>
            <a href="https://wa.me/qr/2WLBS43FN7BKH1" target="_blank">
                <img src="../img/zap.png">
            </a>
            <a href="daniellemdsouza84@gmail.com" target="_blank">
                <img src="../img/gmail.png">
            </a>
            </div>

        </section>

    
    </main>
    <footer>
        <div id="footer-div">
            <p>© 2025 Danielle Martins de Souza. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</body>
</html>