<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>exemplo</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="menu-principal">

        <a href="#sobre" class="link-inicio">Inicio</a>

        <div class="links-direita">
        <a href="#Beneficios">Beneficios<span></span></a>
        <a href="#depoimentos">Depoimentos<span></span></a>
        <a href="#compre">Compre agora<span></span></a>
        </div>
       </nav>
    </header>
    <main>
        <section id="sobre">
        <div id="main-sobre">
            <div id="main-txt">
                <h2>CORPO INCRÍVEL <br> APÓS OS 40</h2>
                <h3>O guia essencial para a mulher madura<br> que transforma com saúde e força</h3>
            </div>
            <div id="main-img">
                <img src="../img/FOTO1.jpg" alt="Foto corpo">
            </div>
        </div>
        </section>

    
    </main>
    
</body>
</html>