* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

.cabecalho{
    background-color: #F5F5DC;
    height: 70px;
    padding:  0 40px;
    display: flex;
    align-items: center;
    
    
}


.menu-principal{
    width: 100%;
    display: flex;
    align-items: center;
}

.links-direita{
    margin-left: auto;
    display: flex;
    gap: 30px;
}
.menu-principal a{
    color: #444;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;


}


body {
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-color: #F8F8F8; 
}

#main-sobre {
   
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    padding: 40px 40px 80px 40px;
    width: 100%;
    
}


#main-txt {
    
    flex: 1; 
    max-width: 55%; 
}


#main-img {

    flex: 1;
    max-width: 25%; 
    text-align: right; 
    border: 15px solid transparent; 
    box-shadow: 0 0 0 2px #D4AF37; 
    overflow: hidden;
}


#main-img img {
    max-width: 100%; 
    height: auto;
    display: block;
    border-radius: 8px;
}

#main-txt h2 {
    font-size: 5em;
    color: #333;
}

#main-txt h3 {
    font-size: 2em;
    color: #333;
    font-family: serif;
}

#card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-card{
    background-color: #ffffff;
    width: 300px;
    height: 450px;
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    margin-left: 20px;
    text-align: center;
}

.main-card h2{
    margin-top: 200px;
    color:  #404039;
}

.main-card h3{
    margin-top: 20px;
    color:  #292924;
}